# игнорируем виртуальное окружение
flaskSite/venv/

# игнорируем базу данных
database/sensor_data.db

# игнорируем файл с переменными окружениями
flaskSite/.env

# игнорируем файлы компиляции
flaskSite/__pycache__
flaskSite/instance
flaskSite/app/__pycache__

# игнорируем файлы миграции бд
flaskSite/migrations