<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}Server Heat Map{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{{ url_for('clever') }}" {% if request.endpoint == 'clever' %} class="active" {% endif %}>Clever</a>
        <a href="{{ url_for('dashboard') }}" {% if request.endpoint == 'dashboard' %} class="active" {% endif %}>Dashboard</a>
    </nav>
    <div class="container">
    <!-- <div class="dashboard-container"> -->
    {% block content %}{% endblock %}
    </div>
</body>
</html>