{% extends "base.html" %}

{% block content %}
<div class="clever-body">
    <div class="main-circle"></div>
    <div class="clever" id="clever">
        <div class="clever-container">
            <div class="petal">
                <div class="petal-container">eltex-1</div>
                <div class="clever-point" id="point-eltex-1">
                    <span class="label" id="temp-point-1">33°C</span>
                    <div class="circle-1"></div>
                </div>
            </div>
            <div class="petal">
                <div class="petal-container">eltex-2</div>
                <div class="clever-point" id="point-eltex-2">
                    <span class="label" id="temp-point-2">33°C</span>
                    <div class="circle-2"></div>
                </div>
            </div>
            <div class="petal">
                <div class="petal-container">eltex-3</div>
                <div class="clever-point" id="point-eltex-3">
                    <span class="label petal-container" id="temp-point-3">33°C</span>
                    <div class="circle-3"></div>
                </div>
            </div>
            <div class="petal">
                <div class="petal-container">eltex-4</div>
                <div class="clever-point" id="point-eltex-4">
                    <span class="label" id="temp-point-4">33°C</span>
                    <div class="circle-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-circle"></div>
    <div class="center-mask"></div>
    <div class="center-mask-2"></div>
</div>
<script src="{{ url_for('static', filename='js/clever.js') }}"></script>
{% endblock %}