{% extends "base.html" %}

{% block content %}
<div class="dashboard">
  <!-- <div class="header"> -->
  <header>
    <h1>Тепловая карта серверной</h1>
    <p class="subtitle">Визуализация распределения температуры в помещении</p>
  </header>
  <!-- </div> -->
  
  <main>
    <div class="heatmap-container">
      <!-- <img src="/static/images/server-room.png" alt="Server Room Heatmap" class="heatmap-image"> -->
      <div id="heatmap" class="heatmap"></div>
      <!-- <div id="heatmap" class="heatmap" style="width: 800px; height: 600px;"></div> -->
      <!-- <div class="sensor-labels">
        <div class="sensor" style="top: 20%; left: 30%;">eltex-1</div>
        <div class="sensor" style="top: 40%; left: 60%;">eltex-2</div>
        <div class="sensor" style="top: 70%; left: 25%;">eltex-3</div>
        <div class="sensor" style="top: 50%; left: 75%;">eltex-4</div>
      </div> -->
    </div>
    
    <div class="status-bar">
      <div class="temp-indicator">
        <span class="current-temp">33°C</span>
        <span class="temp-label">Текущая температура</span>
      </div>

      <div class="load-indicator">
        <div class="load-value-1">Нагрузка на кластер: 36%</div>
        <div class="load-bar">
          <div class="load-progress" style="width: 36%;"></div>
        </div>
      </div>
    </div>

    <section class="widget-section">
      <h2>Нагрузка на кластер</h2>
      <div class="cluster-load">
          <span class="load-value-2">36%</span>
          <span class="load-change">+4% за послдений час</span>
      </div>
    </section>

    <section class="widget-section">
      <h2>Текущая температура</h2>
      <div class="cluster-load">
          <span class="load-value-2 load-change-color" id="temp-indic">36%</span>
          <!-- <span class="load-change">+4% за послдений час</span> -->
      </div>
    </section>

    <section class="widget-section temperature-section">
      <h2>Текущая температура</h2>
      <div class="temperature-display">
        <!-- здесь указывает средняя арифметическая всех темпиратур -->
        <span class="temperature-value">33°C</span>
        <!-- <span class="temp-label">Текущая температура</span> -->
      </div>
    
      <div class="devices-list">
        <!-- доделать список датчиков -->
        <!-- {% for device in devices %}
          <div class="device-item">{{ device }}</div>
        {% endfor %} -->
      </div>
    </section>

  </main>
</div>  

<script src="https://cdn.jsdelivr.net/npm/heatmap.js@2.0.5"></script>
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
{% endblock %}