#heatmap-container {
    border: 1px solid #ccc;
    margin: 20px auto;
    background-image: url('/static/images/server-room.png');
    background-size: cover;
}

body {
    background-color: rgb(36, 36, 36);
}

div {
    color: white;
}

nav {
    background: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}